*.DS_Store
.svn
.hg
*.svn
.bzr
.coverage
*.swp
*.swo
*.pyc
*.egg-info
*.EGG-INFO
*.db
ez_setup
*~
build/
dist/
data/
doc/build/
buildkit*_deb/DEBIAN/control
buildkit*_deb/DEBIAN/changelog
buildkit*_deb/DEBIAN/compat
buildkit*_deb/DEBIAN/copyright
buildkit*_deb/DEBIAN/docs
buildkit*_deb/DEBIAN/rules
distribute-0.6.10.tar.gz
test/generate_package/
test/non_python_package/
test/python-buildkit-*.noarch.rpm
test/python_package/


