Section: main/python
Priority: extra
Maintainer: James Gardner <james@pythonweb.org>
Homepage: http://jimmyg.org/
Package: buildkit-apt-cache
Version: 0.2.0+01+lucid
Architecture: all
Depends: buildkit, apt-cacher-ng
Description: Cache .deb files downloaded for use in buildkit VMs
